
Untitled.ipynb
tezv3.ipynb
tezV.ipynb
testv4.ipynb
myTez.ipynb
myfile.txt
myCom.txt
my_fluid.py
graph.graphml
fluid.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/tezv3-checkpoint.ipynb
.ipynb_checkpoints/tezV-checkpoint.ipynb
.ipynb_checkpoints/fluid-checkpoint.ipynb
.ipynb_checkpoints/testv4-checkpoint.ipynb
myCom1.txt
data/1.txt
data/2.txt
retweet/1.txt
retweet/2.txt
retweet/2.txt
retweet/1.txt
